
* {
    box-sizing: border-box;
}



.boxstroke22 {
  border-radius: 200px 200px 0 0;
   background-color:rgb(170, 145, 95);
    margin-top: 50px;
}
.positivetextt {
    color: black;
    font-size: 25px;
    text-align: center;
}
.secondstroke p {
    color: black;
    padding-top: 10px;
    
}



.styletext {
    width: 60%;
    margin: 150px 30px 0 30px;


}


.styletext h2 {
color: rgb(230, 110, 110);
font-size: 35px;
}

.styletext p {
     font-size: 20px;
     font-family: Inter, sans-serif;
    font-weight: 300;
    margin-top: 15px;
}


.buttonparent button {
font-size: 22px;

}

.styletext ul {

    margin: 50px 0 0 0;
}


.styletext h3 {
    margin:  10px 0 0 0;
}

.ulliststyle p {
margin-bottom: 50px;
}

#stylebutton {
    margin-top: 15px;
}


/*    ------------------------------------------*/

.exploretext {
    margin-top: 200px;
    padding: 0 20px 20px 60px;
}

.exploretext p {
    font-size: 20px;
     font-family: Inter, sans-serif;
    font-weight: 300;

    width: 80%;
    margin-top: 15px;
}


.liveclas {
     display: flex;
     overflow-x: hidden;
     gap: 50px;
     scroll-snap-type: x mandatory;
     width: calc(100% - 140px);
    margin: 0 70px;/*-----------*/
    place-items: center;


}


.liveclas::-webkit-scrollbar{

display:none;

}

.liveclasbox {
    flex: 0 0 350px;
    flex-shrink: 0;
    max-width: 300px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 145, 95);
    /**/
    scroll-snap-align: start;
    border-radius: 30px;
    overflow: hidden;

    

}

.liveclasbox img {
    height: 300px;
    clip-path: polygon(
0 0,
100% 0,
100% 80%,
0 100%
);
}

.liveclasbox h3 {
    font-size: 25px;
    color: black;
    padding: 0 10px;
}

.liveclasbox p {
    color: black;
       font-family: Inter, sans-serif;
    font-weight: 350;
    font-size: 18px;
     padding: 0 10px;
}


#stylebutton2 {
width: 150px;
height: 50px;
font-size: 20px; 
color: black;
border: 2px solid black;

}
#stylebutton2:hover {
    color: rgba(0, 0, 0, 0.569);
    border: 2px solid rgba(0, 0, 0, 0.569);
}


.buttonparentclas {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 20px; 
}

.dot{

width:12px;

height:12px;

border-radius:50%;

background:gray;

cursor:pointer;

}

.dot.active{

background:rgba(64, 60, 60, 0.948);
transform:scale(1.2);

}

.carousel{
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
gap: 5px;


}

.arrow {
font-size:25px;

background:none;
color: whitesmoke;
border:none;
cursor: pointer;

margin-right: 5px;

}


.arrow2 {
font-size:25px;

background:none;
color: whitesmoke;
border:none;
cursor: pointer;

margin-left: 5px;
}



/*70.50*/
@media screen and (max-width: 901px) {


    .container1 {
        display: flex;
        flex-direction: column-reverse;

    }


     .twinparent1 {
        background-color:black ;
        color: whitesmoke;
        width: 100%;
        padding: 10px 50px;
        margin: -150px 0 -50px 0; 
    }

 

.buttonparent {
margin: 0 auto;
padding: 0 0 20px 0;
}


.buttonparent button{
 background-color: rgba(243, 172, 136, 0.094);
    width: 200px;
    height: 50px;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 50px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 50px;

}

.buttonparent button:hover {
color: rgb(230, 110, 110);
border: 2px solid rgb(230, 110, 110);
} 

.twinparent1 h1{
 color: rgb(230, 110, 110);
} 

.memberP:hover{
 color: rgb(230, 110, 110);
}


.boxstroke22 {
   border-radius: 150px 150px 0 0;
   margin-top: 80px;
}

.positivetextt {
    color: black;
    font-size: 25px;
    text-align: center;
 
}
.secondstroke p {
    color: black;
    padding-top: 30px;
}
}



@media screen and (min-width: 963px) {
    .boxstroke22 {
        margin: 0 100px;
    }
}



@media screen and (max-width: 499px) {
.boxstroke22 {
    display: flex;
   border-radius: 150px 150px 0 0;
   margin-top: 80px;


}


.positivetextt {
    color: black;
    font-size: 25px;
    text-align: center;

}
    
    .secondstroke p {
    color: black;
    padding-top: 30px;
}

.styletext { 


    margin: 150px auto;
}

#stylebutton {
    
margin-left: 11.5px;
}

.carousel {
    display: flex;
    justify-content: center;
    
}

    .arrow {
        font-size: 40px;
        padding-right: 20px;
    }
    .arrow2 {

  font-size: 40px;
  padding-left: 20px;
    }

    .liveclas {
        display: flex;
     gap: 30px;
    /* width: calc(100% - 75px);*/
      margin: 0 37.5px;
      width: auto;
    }

    .liveclasbox {
        margin: 0;
        padding: 0;
    }
}



