footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    gap: 40px;
    padding: 40px;
    
 
}

.whole {
max-width: 400px;
width: 100%;
letter-spacing: 1px;


}


.whole h2 {
  margin-bottom: 20px;
  text-align: center;

}

.contact-row {
    display: grid;
    grid-template-columns: 120px 1fr;
    padding: 8px 0;

}


.contact-row span {

    /*display: block;*/
    width: 100%;
    margin: 0 ;
    padding:0;

}

.contact-row span:first-child {
    text-align: left;
}

.contact-row span:last-child {
    text-align: left;
}

.info {
    width: fit-content; /* zorgt ervoor dat de border zelfde grote heeft als de content -----*/
    padding-left: 36px;
    padding-bottom: 60px;

}







.list {

    text-align: center;
}


.list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
















.tijdenbox {
    max-width: 400px;
    width: 100%;
}

.tijd {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;

}


.row {
      display: grid;
    grid-template-columns: 120px 1fr;

    width: fit-content;
    margin-left: 90.85px;
    
    padding: 10px 0;

}

.row span {
    width: 100%;
    white-space: nowrap;
    margin: 0;
    padding: 0;

   

}













#bottom {
    padding: 15px;
  text-align: center;
  font-size: 18px;
}


#copyright {
   grid-column: 1 / -1; /*dit zorgt ervoor dat je content niet breekt wanneer je meerdere layout hebt. */
}



@media (min-width: 987px) {

  
}
@media (max-width: 900px) {
    footer {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 499px) {
    footer{

   justify-content: center;
    }


    .whole {

        margin: 0;
        padding: 0;
        max-width: 350px;
    }

    .contact-row {

        grid-template-columns: 100px 1fr;
    }

  

   .row {

    margin: 0;
     
    }
  

    .opening-hours {
     padding-left: 63.05px;
    
  
    }
}
