* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

body {
  background-color: rgba(234, 232, 232, 0.95);
  color: white;
}

/*img {
  max-width: 50%;
  display: block;
}*/