nav {
    height: 4rem;
    background-color: black;
    display: flex;
    padding: 0 5rem;
}
.breedte {
  color: red;
}

.locations {
color: rgba(243, 171, 136, 0.864);
display: flex;
justify-content: center;
align-items: center;
position: relative;

  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;


    letter-spacing: 1px;
    z-index: 9999;
    
}



.locationli {
 position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  flex-direction: column;

  background: black;
  padding: 10px;
  cursor: pointer;

  width: 15rem;
 
}
.locationli li:hover {
    color: rgba(243, 171, 136, 0.864);
}

.locationli ul {
   list-style: none;
   color: whitesmoke;

}
.locationli li {
     padding: 10px 0;
     font-size: 15px;
} 

.ams {
  font-weight: 800;
}







.navHeader {
  font-family: "Libre Caslon Text", serif;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 3px;
  font-size: 35px;
  padding: 5px 0;
  margin: 0 auto;
    
color: whitesmoke;
}


.hamburger {
    cursor: pointer;
    font-size: 40px;
    font-weight: 100;

}








.navbarmobile {
  display: none;
}

.navbardesk {
display: none;
}

.navbarmobile.active {
display: block;
}

.navbardesk.active {
  display: block;
}

.navbarmobile.active {
  display: none;
}

  .navlistdesk {
   display: flex;
   position: absolute; 
   flex-direction: column;
  transform: translateY(4rem);
  right: 50px;
   z-index: 9999;
    
  background-color: rgb(30, 29, 29);
  max-width: 30%;
  width: 100%;
  max-height: 50%;
  height: 100%;
  padding: 10px;
  justify-content: center;
  
}

.navlistdesk li {

  list-style: none;
  padding: 20px 0;
  text-align: start;
  padding-left: 10px;
  font-size: 16px;
}
.navlistdesk a {
  color: whitesmoke;
  text-decoration: none;
}
.navlistdesk a:hover {
  color: rgba(248, 245, 245, 0.653);
}

@media (max-width: 627px) {


  .locations {
    display: none;
  }


  .navlist {
   display: flex;
   position: absolute; 
   flex-direction: column;
  transform: translateY(4rem);
  right: 0px;
   z-index: 9999;
    
  text-align: center;
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 0 30px ;
}
body.menu-open {
overflow: hidden;
}

.navbardesk {
    display: none;
  }
.navbardesk.active {
  display: none;
}
.navbarmobile.active {
  display: block;
}

.navlist li {
  padding: 14px;
  font-size: 17px;
  list-style: none;
}
.navlist a {
  color: whitesmoke;
  text-decoration: none;
}
.navlist a:hover {
  color: rgba(243, 171, 136, 0.864);
}

.svgbar {
  width: 100px;
  height: 100px;
  padding-top: 15px;

}

.locaties{
  color: rgba(243, 171, 136, 0.864);
}

}


@media (max-width: 499px) {

.navHeader {
  font-size: 22px;
  align-content: center;
}
.hamburger {
  position: absolute;
  right: 50px;

}
}


/*
@media (max-width: 499px) {
  nav {
    padding: 0;
  }
.navHeader {
  font-size: 22px;
  align-content: center;
}
.hamburger {
  border: 1px solid red;
}

}
*/